@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131313;
}

.container {
  max-width: 1200px;
  margin: 16px auto;
}

.green {
  text-shadow: 1px 1px 2px #03f1b5, 0 0 1em #03f1b5, 0 0 0.2em #03f1b5;
}

@keyframes colorChange {
  0% {
    color: #03f1b5;
  }
  50% {
    color: white;
  }
  100% {
    color: #03f1b5;
  }
}

.animate-color-change {
  animation: colorChange 2s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s;
}

.blog-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
  transform: scale(1.05);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

.animate-fade-in-up {
  animation: fade-in 0.6s ease-out forwards;
}
